
body {
    background-color: rgb(16, 120, 238);
}

header {
    color: white;
    text-align: center;
}

section {
    width: 400px;
    background-color: white;
    border-radius: 8px;
    text-indent: 5px;
    margin: auto;
    padding: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.356);
}

footer {
    color: white;
    text-align: center;
}